# database & logs
mysql-data/

# customs
__pycache__/
ai_experiments/
db_backup/
.cursor/
.olds/
.venv/
.gitignores/
logs.txt
*Zone.Identifier
*.pem
*.crt
*.key
*.log
*.pwfile
*.db
.env

# node - frontend
frontend/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
